# --------------------
# Python
# --------------------
.venv/
__pycache__/
*.pyc

# --------------------
# Secrets / local config
# --------------------
.env
Config/*.local.yaml

# --------------------
# OCR binaries (portable)
# --------------------
Tesseract/
Poppler/
arabic_reshaper/
bidi/

# --------------------
# Runtime / generated data
# --------------------
InPut/Cert_Inbox
InPut/MyEmails
InPut/Source_Cert
OutPut/Annotated_Certificates
OutPut/Not_Founded_In_Excel
OutPut/Printed_Annotated_Cert


# --------------------
# OCR artifacts / logs
# --------------------
*.hocr
*.log
